:root {
  --btn-color: #f4f4fd;
  --btn-text-color: #4d5ae5;
  --main-color: #ffffff;
  --link-title-color: #2e2f42;
  --main-text-color: #434455;
  --hover-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {}

.header-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
}

.header-links:hover,
.header-links:focus {
  color: var(--hover-color);
}

.address {
  font-style: normal;
}


.navigation {}

.address-list {}

.address-links {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.address-links:hover,
.address-links:focus {
  color: var(--hover-color);
}

.hero {
  background: var(--link-title-color);
}

.hero-name {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-color);
}

.order-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--btn-text-color);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--hover-color);
}

.btn-items {
  font-family: "Roboto", sans-serif;
  background-color: var(--btn-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
}

.btn-items:hover,
.btn-items:focus {
  background-color: var(--hover-color);
  color: var(--main-color);
}

.link-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
}

.logo-studio-header {
  color: var(--link-title-color)
}

.logo-studio-footer {
  color: var(--btn-color);
}

.benefits-items-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
}

.benefits-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.services-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--link-title-color);
}

.section-services {}

.section-team {
  background: var(--btn-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
  text-align: center;
  text-transform: capitalize;
}

.team-list-items {
  background-color: var(--main-color);
}

.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
}

.team-positions {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.footer {
  background: var(--link-title-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-color);
}

.main-portfolio {}

.portfolio-title-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
